<section class="cm-footer cm-bg-black-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 cm-footer-menu">
        <h3 class="cm-margin-bottom-10">
          <a href="/fr-fr/plateforme-cm/" class="cm-text-white">Plateforme</a>
        </h3>
        <ul class="hidden-xs">
          <li>
            <a href="/fr-fr/plateforme-cm/messaging/">Messaging</a>
          </li>
          <li>
            <a href="/fr-fr/plateforme-cm/voix/">Voix</a>
          </li>
          <li>
            <a href="/fr-fr/plateforme-cm/solutions-paiement/">Paiement</a>
          </li>
          <li>
            <a href="/fr-fr/plateforme-cm/securite/">Sécurité</a>
          </li>
          <li>
            <a href="/fr-fr/plateforme-cm/tarifs-messaging/">Tarifs</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 cm-footer-menu">
        <h3 class="cm-margin-bottom-10">
          <a href="/fr-fr/secteurs-solutions-mobile/" class="cm-text-white">Secteurs</a>
        </h3>
        <ul class="hidden-xs">
          <li>
            <a href="/fr-fr/secteurs-solutions-mobile/banque-finance/">Banque et Finance</a>
          </li>
          <li>
            <a href="/fr-fr/secteurs-solutions-mobile/retail/">Retail</a>
          </li>
          <li>
            <a href="/fr-fr/secteurs-solutions-mobile/sante/">Santé</a>
          </li>
          <li>
            <a href="/fr-fr/secteurs-solutions-mobile/education/">Education</a>
          </li>
          <li>
            <a href="/fr-fr/secteurs-solutions-mobile/assocations-caritatives/">Associations caritatives</a>
          </li>
          <li>
            <a href="/fr-fr/secteurs-solutions-mobile/secteur-public/">Secteur Public</a>
          </li>
          <li>
            <a href="https://www.smsgateway.to/en">Wholesale SMS</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 cm-footer-menu">
        <h3 class="cm-margin-bottom-10">
          <a href="/fr-fr/a-propos-cm/" class="cm-text-white">Société</a>
        </h3>
        <ul class="hidden-xs">
          <li>
            <a href="/fr-fr/a-propos-cm/">A propos</a>
          </li>
          <li>
            <a href="/fr-fr/a-propos-cm/cm-international/">CM Group</a>
          </li>
          <li>
            <a href="/fr-fr/a-propos-cm/securite-conformite/">Securité et Conformité</a>
          </li>
          <li>
            <a href="/fr-fr/recrutement/">Carrières</a>
          </li>
          <li>
            <a href="/fr-fr/a-propos-cm/contact/">Bureaux</a>
          </li>
          <li>
            <a href="/fr-fr/sitemap/">Sitemap</a>
          </li>
        </ul>
        <ul class="hidden-xs">
          <li class="cm-text-small">
            <a class="cm-text-grey-darker" target="_blank" href="https://legal.cmtelecom.com/fr/cm-online-bv/privacy-policy">Politique de confidentialité</a>
          </li>
          <li class="cm-text-small">
            <a class="cm-text-grey-darker" target="_blank" href="https://legal.cmtelecom.com/fr/cm-online-bv/terms-and-conditions">Conditions générales</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 cm-footer-menu">
        <h3 class="cm-text-white cm-margin-bottom-10">
          <a href="/fr-fr/blog/" class="cm-text-white">Communauté</a>
        </h3>
        <ul class="hidden-xs">
          <li>
            <a href="https://help.cmtelecom.com/fr" target="_blank">Centre d'assistance</a>
          </li>
          <li>
            <a href="https://docs.cmtelecom.com/" target="_blank">API & SDK</a>
          </li>
          <li>
            <a href="https://www.cmtelecom.com/mocomoments" target="_blank">MoCo</a>
          </li>
          <li>
            <a href="/fr-fr/blog/">Blog</a>
          </li>
          <li>
            <a href="/fr-fr/glossary/">Glossary</a>
          </li>
        </ul>
        <h3 class="cm-margin-bottom-10 visible-xs">
          <a href="/fr-fr/sitemap/" class="cm-text-white">Sitemap</a>
        </h3>
        <div>
          <p class="cm-text-small cm-text-grey cm-margin-bottom-0">Connectez-vous pour nos dernières infos</p>
          <a class="icon icon-linkedin size24 gaq_btn btn-footer-social" href="https://www.linkedin.com/company/cm-telecom-france/"
            target="_blank" data-toggle="tooltip" data-placement="top" title="Follow us on LinkedIn for articles, cases and more"
            data-method="event" data-category="Social" data-action="LinkedIn" data-label="Footer"></a>
          <a class="icon icon-twitter-1 size24 gaq_btn btn-footer-social" href="https://twitter.com/CMTelecom_fr/" target="_blank"
            data-toggle="tooltip" data-placement="top" title="Follow us on Twitter for short CM updates" data-method="event"
            data-category="Social" data-action="Twitter" data-label="Footer"></a>
          <a class="icon icon-facebook size24 gaq_btn btn-footer-social" href="https://www.facebook.com/CMTelecomBV/" target="_blank"
            data-toggle="tooltip" data-placement="top" title="Follow us on Facebook for news and challenges" data-method="event"
            data-category="Social" data-action="Facebook" data-label="Footer"></a>
          <a class="icon icon-youtube size24 gaq_btn btn-footer-social" href="https://www.youtube.com/user/cmtelecomtv/" target="_blank"
            data-toggle="tooltip" data-placement="top" title="Follow us on YouTube for interviews, productupdates and more"
            data-method="event" data-category="Social" data-action="Youtube" data-label="Footer"></a>
          <a class="icon icon-github size24 gaq_btn btn-footer-social" href="https://github.com/CMTelecom/" target="_blank" data-toggle="tooltip"
            data-placement="top" title="Follow us on GitHub for code examples, libraries and more" data-method="event" data-category="Social"
            data-action="Github" data-label="Footer"></a>
          <a class="icon icon-google-plus size24 gaq_btn btn-footer-social" href="https://plus.google.com/+CMTelecomBVBreda/" target="_blank"
            data-toggle="tooltip" data-placement="top" title="Follow us on G+ for general updates" data-method="event" data-category="Social"
            data-action="Google_Plus" data-label="Footer"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="cm-bg-black-dark">
  <div class="container">
    <div class="row">
      <div class="footer-btn col-xs-12 col-sm-8 col-md-3 cm-padding-top-20 cm-padding-bottom-15 cm-padding-right-0">
        <a href="/fr-fr/a-propos-cm/contact/#topic-support" class="btn btn-default btn-footer size18 cm-bg-white cm-margin-right-10">
          <i class="fa fa-comments cm-margin-right-5 size24"></i>Support</a>
        <a href="/fr-fr/a-propos-cm/contact/" class="btn btn-default btn-footer size18 cm-bg-white">
          <i class="icon icon-horn cm-margin-right-5 size24"></i>Contact</a>
      </div>
      <div class="footer-btn-social col-xs-12 col-sm-4 col-md-6 cm-padding-bottom-10">
        <div class="row">
          <div class="col-md-8 col-lg-6 hidden-sm hidden-xs"></div>
          <div class="col-md-4 col-lg-6 langview-trigger-holder">
            <a class="langview-trigger cm-text-grey" data-toggle="modal" data-target="#ac-gn-langview">
              <i class="langview-trigger-icon fa fa-globe"></i>FR - Fran&ccedil;ais</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 cm-padding-bottom-10 cm-padding-right-0 hidden-sm hidden-xs">
        <a href="https://www.gsma.com/membership/cm-groep-bv/" target="_blank">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" asset-src="https://cdn.cm.com/cm/fr-fr/logo-gsma.png"
            class="lazyload cm-margin-right-10 cm-margin-top-10" width="40" alt="Logo GSMA"> </a>
        <a href="http://www.mmaf.fr/membre_annuaire/cm-telecom/" target="_blank">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" asset-src="https://cdn.cm.com/cm/fr-fr/logo-mma.png"
            class="lazyload cm-margin-right-10 cm-margin-top-10" width="100" alt="Logo MMA"> </a>
      </div>
    </div>
  </div>
</div>
<div id="ac-gn-langview" tabindex="-1" data-backdrop="true" role="dialog" class="ac-gn-langview language-select-popup side-toggle modal fade">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="language-select-header">
          <button type="button" class="close" data-dismiss="modal">
            <div class="cross-close"></div>
          </button>
        </div>
        <div class="language-select cm-padding-left-20 cm-padding-right-20 cm-text-center">
          <h3 class="cm-title">Select Your Country</h3>
          <p class="cm-text-grey">Selecting a country will show relevant information for that region and may change the language.</p>
          <div class="col-md-10 col-md-offset-1 cm-padding-top-20 cm-text-left">
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="/fr-fr/a-propos-cm/contact/" id="cm-selected-lang" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/fr-FR/"
                class="language-select-lang inline-block size14">
                <i class="flag flag-fr"></i> France </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="/de-de/ueber-cm/kontakt/" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/de-DE/" class="language-select-lang inline-block size14">
                <i class="flag flag-de"></i> Deutschland </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="/en-za/about-cm/contact/" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/en-ZA/" class="language-select-lang inline-block size14">
                <i class="flag flag-za"></i> South-Africa (English) </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="/fr-be/a-propos/contact/" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/fr-BE/" class="language-select-lang inline-block size14">
                <i class="flag flag-be"></i> Belgique (Fran&ccedil;ais) </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="/ja-jp/about-cm/contact/" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/ja-JP/" class="language-select-lang inline-block size14">
                <i class="flag flag-jp"></i> 日本 </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="/about-cm/contact/" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/en-GB/" class="language-select-lang inline-block size14">
              International (English) </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="/nl-be/over-cm/contact/" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/nl-BE/" class="language-select-lang inline-block size14">
                <i class="flag flag-be"></i> Belgi&euml; (Nederlands) </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="/nl-nl/over-cm/contact/" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/nl-NL/" class="language-select-lang inline-block size14">
                <i class="flag flag-nl"></i> Nederland </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 language-select-item inline-block">
              <a href="https://www.cmtelecom.cn/" data-pre-call="https://www.cm.com/fr-fr/ajax/l10n/zh-CN/" class="language-select-lang inline-block size14">
                <i class="flag flag-cn"></i> 中国 </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 cm-padding-20 cm-text-center cm-text-grey">
          <p>If you have any questions, suggestions or complaints concerning our localisation efforts,
            <br> you can always
            <a href="/fr-fr/a-propos-cm/contact/">contact us</a>. We’d love to hear from you!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="application/ld+json">{"@context":"http://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https://www.cm.com/fr-fr/","name":"fr-FR"}},{"@type":"ListItem","position":2,"item":{"@id":"https://www.cm.com/fr-fr/glossary/","name":"Glossary"}}]}</script>
<div id="nav-backdrop-modal" class="nav-backdrop-modal"></div>
<script src="https://platform.cmtelecom.com/3/js/platform.min.js"></script>
<script src="https://cdn.cm.com/cm/build/js/angular-hash-eb3320a96c.js?f6d5c2bf7d"></script>
<script src="https://cdn.cm.com/cm/build/js/branding-3a5fb7b56e.js?f6d5c2bf7d"></script>
<script src="https://cdn.cm.com/cm/build/js/app-6217722a96.js?f6d5c2bf7d"></script>
<script src="https://cdn.cm.com/cm/build/js/glossary-b2ed593638.js?f6d5c2bf7d"></script>
<script type="text/javascript">window.DESKPRO_WIDGET_OPTIONS = { "helpdeskUrl": "https://fr.chat.cmtelecom.com", "language": 3 };</script>
<script type="text/javascript" id="dp-widget-loader">function downloadJSAtOnload() { var element = document.createElement("script"); element.src = "https://fr.chat.cmtelecom.com/dyn-assets/pub/build/widget_loader.min.js"; document.body.appendChild(element); }
  var ua = navigator.userAgent; if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Mobile|mobile|CriOS/i.test(ua)) { $(window).on('scroll', function () { scrollPosition = $(this).scrollTop(); if (scrollPosition >= 500) { $(this).off('scroll'); downloadJSAtOnload(); } }); } else { if (window.addEventListener) { window.addEventListener("load", downloadJSAtOnload, false); } else if (window.attachEvent) { window.attachEvent("onload", downloadJSAtOnload); } else { window.onload = downloadJSAtOnload; } }</script>
<script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"CM","logo":"https://cdn.cm.com/cm/cm.png","url":"https://www.cm.com/","contactPoint":[{"@type":"ContactPoint","telephone":"+33 (0) 1 78 42 35 10","contactType":"customer service","areaServed":"FR"}],"sameAs":["https://en.wikipedia.org/wiki/CM_Telecom/","https://www.linkedin.com/company/cm-telecom-france/","https://www.facebook.com/CMTelecomBV/","https://twitter.com/CMTelecom_fr/","https://www.youtube.com/user/cmtelecomtv/","https://www.gsma.com/membership/cm-groep-bv/","https://www.slideshare.net/CMTelecom/","https://plus.google.com/+CMTelecomBVBreda/","https://github.com/CMTelecom/"]}</script> </body>