<div id="language-select-suggestion-popup" class="language-select-suggestion-popup ac-gn-langview side-toggle modal fade"
  tabindex="-1" data-backdrop="true" role="dialog" data-url="https://www.cm.com/fr-fr/ajax/l10n/close/">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="width-100">
        <div class="language-select-header">
          <div class="language-select-suggestion-close suggestion-pop-up" data-url="https://www.cm.com/fr-fr/ajax/l10n/close/">
            <button type="button" class="close">
              <div class="cross-close"></div>
            </button>
          </div>
        </div>
        <div class="language-select cm-padding-top-20 cm-padding-left-20 cm-padding-right-20 cm-text-center">
          <h3 class="cm-title-medium cm-uppercase">Welcome!</h3>
          <p> It seems that you are in Russia. Do you want to visit our website in a language more suitable for your region?
            Go to:</p>
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 inline-block cm-padding-top-10 cm-text-left">
            <div class="col-xs-12 language-select-item inline-block">
              <a href="/" id="cm-suggested-lang" class="language-select-lang inline-block" data-url="https://www.cm.com/fr-fr/ajax/l10n/en-GB/">
                <i class="flag flag-gb"></i> International (English) </a>
            </div>
            <div class="col-xs-12 language-select-item inline-block">
              <a href="#" id="cm-stay-lang" class="language-select-lang inline-block cm-text-center size14" data-url="https://www.cm.com/fr-fr/ajax/l10n/fr-FR/">
                Stay on our French site </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 cm-text-center cm-padding-bottom-10 cm-text-grey size12">
          <p>For your convenience, we’ll automatically remember your choice.
            <br> You can change this later, by using "content location" at the top of our site.</p>
        </div>
      </div>
    </div>
  </div>
</div> 
<platform-header class="js-headroom-header" app-icon="fa fa-gamepad" language="fr" logo-url="/fr-fr/" ng-cloak>
  <nav class="cm-pfh-menu-content cm-pfh-app-menu-content">
    <span class="cm-pfh-angle"></span>
    <ul class="cm-pfh-menu-content-body cm-pfh-app-menu-list">
      <li class="open-on-hover hidden-xs-mobile">
        <a target="_parent" href="/fr-fr/plateforme-cm/" class="cursor-pointer main-menu-list">Nos solutions</a>
        <ul class="cm-pfh-hide-sm">
          <li>
            <div class="cm-pfh-menu-content-body menu-content-features">
              <span class="cm-pfh-angle"></span>
              <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div>
                    <h5>
                      <a href="/fr-fr/plateforme-cm/messaging/">
                        <div class="header-menu-list">Messaging</div>
                      </a>
                      <span class="subheader-menu-list">Communiquez avec vos clients</span>
                    </h5>
                    <div>
                      <a href="/fr-fr/plateforme-cm/messaging/sms/">SMS</a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/messaging/gin-chat-apps-manager/">
                        <span class="cm-menu-item">Chat Apps</span>
                        <span class="cm-submenu-item">Facebook / WhatsApp / Telegram / WeChat</span>
                      </a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/messaging/notifications-push/">Push</a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/messaging/hybrid/">Hybrid</a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/messaging/sms-marketing/">SMS Campaigns</a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/messaging/analytics/">Analytics</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div>
                    <h5>
                      <a href="/fr-fr/plateforme-cm/securite/">
                        <div class="header-menu-list">Sécurité</div>
                      </a>
                      <span class="subheader-menu-list">Digital Authentication</span>
                    </h5>
                    <div>
                      <a href="/fr-fr/plateforme-cm/securite/one-time-passwords/">One Time Password (OTP)</a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/securite/number-verifier/">Number Verifier</a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/securite/app-authenticator/">App Authenticator</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div>
                    <h5>
                      <a href="/fr-fr/plateforme-cm/voix/">
                        <div class="header-menu-list">Voix</div>
                      </a>
                      <span class="subheader-menu-list">Discutez avec vos clients</span>
                    </h5>
                    <div>
                      <a href="/fr-fr/plateforme-cm/voix/trunk-sip/">Trunk SIP</a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/voix/appels-entrants/">Appels entrants</a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/voix/appels-automatises/">Appels automatisés</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div>
                    <h5>
                      <a href="/fr-fr/plateforme-cm/solutions-paiement/">
                        <div class="header-menu-list">Paiement</div>
                      </a>
                      <span class="subheader-menu-list">Recevez des paiements</span>
                    </h5>
                    <div>
                      <a href="/fr-fr/plateforme-cm/solutions-paiement/moyens-paiement-internationaux/">
                        <span class="cm-menu-item">Paiement internationaux</span>
                        <span class="cm-submenu-item">Visa - Mastercard - PayPal …</span>
                      </a>
                    </div>
                    <div>
                      <a href="/fr-fr/plateforme-cm/solutions-paiement/moyens-paiement-specifiques/">
                        <span class="cm-menu-item">Paiement specifiques</span>
                        <span class="cm-submenu-item">iDEAL - Bancontact - SOFORT …</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="open-on-hover hidden-xs-mobile">
        <a target="_parent" href="/fr-fr/plateforme-cm/tarifs-messaging/" class="cursor-pointer main-menu-list">Tarifs</a>
        <ul class="cm-pfh-hide-sm">
          <li>
            <div class="cm-pfh-menu-content-body menu-col-1">
              <span class="cm-pfh-angle"></span>
              <div class="row">
                <div class="col-md-12">
                  <h5>
                    <a href="/fr-fr/plateforme-cm/tarifs-messaging/">
                      <div class="header-menu-list">Tarifs</div>
                    </a>
                  </h5>
                  <div>
                    <a href="/fr-fr/plateforme-cm/tarifs-messaging/sms/">Tarifs SMS</a>
                  </div>
                  <div>
                    <a href="/fr-fr/plateforme-cm/tarifs-messaging/one-time-passwords/">Tarifs One Time Passwords</a>
                  </div>
                  <div>
                    <a href="/fr-fr/plateforme-cm/tarifs-messaging/trunk-sip/">Tarifs Trunk SIP</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="hidden-xs hidden-sm hidden-md">
        <a target="_blank" href="https://docs.cmtelecom.com/" class="cursor-pointer main-menu-list">Documentations</a>
      </li>
      <li class="hidden-xs hidden-sm hidden-md">
        <a target="_parent" href="/fr-fr/blog/" class="cursor-pointer main-menu-list">Blog</a>
      </li>
      <li class="cm-pfh-contact visible-md visible-lg">
        <a href="/fr-fr/a-propos-cm/contact/#topic-sales" class="cm-pfh-btn cm-bg-black cm-text-white">Contact</a>
      </li>
      <li class="cm-pfh-login-menu">
        <a href="/fr-fr/a-propos-cm/contact/#topic-sales" class="cm-pfh-btn cm-bg-black cm-text-white">Contact</a>
        <a href="/start/" class="cm-pfh-btn cm-pfh-btn-orange"> Créer un compte </a>
        <a href="https://login.cmtelecom.com/fr/" class="cm-pfh-btn cm-pfh-login-btn">Se connecter</a>
      </li>
    </ul>
  </nav>
  <nav class="cm-pfh-menu-content cm-pfh-show-sm cm-pfh-app-menu-content mobile-navi">
    <label class="cm-pfh-close-menu-btn" for="cm-pfh-app-menu"> </label>
    <span class="cm-pfh-angle"></span>
    <ul class="cm-pfh-menu-content-body cm-pfh-app-menu-list">
      <li>
        <ul class="mob-menu-list">
          <li class="mob-main-item">
            <a target="_parent" href="/" class="mob-menu-link">Home</a>
          </li>
          <li class="mob-main-item">
            <a target="_parent" href="/fr-fr/plateforme-cm/" class="mob-menu-link">Nos solutions</a>
          </li>
          <li class="mob-main-item">
            <a target="_parent" href="/fr-fr/plateforme-cm/tarifs-messaging/" class="mob-menu-link">Tarifs</a>
          </li>
          <li class="mob-main-item">
            <a target="_parent" href="/fr-fr/a-propos-cm/contact/" class="mob-menu-link">Contact</a>
          </li>
          <li class="mob-main-item">
            <a target="_blank" href="https://docs.cmtelecom.com/" class="mob-menu-link">Documentations</a>
          </li>
          <li class="mob-main-item">
            <a target="_parent" href="/fr-fr/blog/" class="mob-menu-link">Blog</a>
          </li>
          <li class="mob-main-item">
            <a target="_parent" href="/fr-fr/a-propos-cm/contact/#topic-support" class="mob-menu-link">Support</a>
          </li>
        </ul>
      </li>
      <li class="cm-pfh-login-menu mob-cta-btn">
        <ul>
          <li>
            <a href="/fr-fr/a-propos-cm/contact/#topic-sales" class="cm-pfh-btn cm-bg-black cm-text-white cm-margin-bottom-10">Contact</a>
          </li>
          <li>
            <a href="/start/" class="cm-pfh-btn cm-pfh-btn-orange register cm-margin-bottom-10">Créer un compte</a>
          </li>
          <li>
            <a href="https://login.cmtelecom.com/fr/" class="cm-pfh-btn cm-pfh-login-btn cm-margin-bottom-10">Se connecter</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</platform-header>